@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
    ;
}

/* banner styles */

.banner-container {
    max-width: 1320px;
    min-height: 600px;
    background-image: url("images/Banner\ Image.png");
    border-radius: 16px;
    margin: 50px 140px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    /* margin: 177px 344px; */
}

.banner-sub {
    font-size: 26px;

}

.banner-head {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}